.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

.counter {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  row-gap: 20px;
}

.button-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 30px;
    width: 10%;
}

.control-button{
    font-size: 50px;
    padding: 35px 50px;
    background-color: transparent;
    color: rgb(16, 0, 54);
    border: 1px solid rgb(16, 0, 54);
    cursor: pointer;
    transition: 0.2s ease-in-out;
    border-radius: 10px;
    text-align: center;
}

.control-button:hover{
    background-color: rgb(16, 0, 54);
    color: rgb(255, 255, 255);
    border: 1px solid rgb(16, 0, 54);
}

.form-control{
  font-size: 50px;
  width: 50%;
  text-align: center;
  border-color: rgb(16, 0, 54);
}